DATABASE_URL=postgres://usuario:senha@host:porta/nome_do_banco

JWT_SECRET=coloque_um_token_qualquer_aqui
PORT=3000

CLOUDINARY_CLOUD_NAME=coloque_seu_cloud_name
CLOUDINARY_API_KEY=coloque_sua_api_key
CLOUDINARY_API_SECRET=coloque_seu_api_secret
