PORT=28171

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=sua_senha
DB_NAME=grimfit

JWT_SECRET=sua_chave_jwt

Pra gerar o JWT_SECRET, roda isso no teu PowerShell e copia o resultado:
node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"